* {
    margin: 0px;
    padding: 0px;
}
html {
    overflow-x: hidden !important;
}
.title {
    font-family: "Gotham",sans-serif;
    margin: 0;
    font-size: 14px;
    padding: 10px 5px 10px;
    border-radius: 0;
    line-height: 24px;
    background-color: #fff;
    border-bottom: solid 1px #ebebeb;
}
.title-wrap {
    font-size: large !important;
    font-family: monospace !important;
    padding: 0px !important;
    margin: 0px !important;
}
.title-wrap a{
    text-decoration:none;
    color:black;
}
    .title-wrap a:hover {
        text-decoration: none;
        color: #9bd031;
    }
.gird-login {
    display: grid;
}
.columns-login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-login {
    margin-bottom: 20px;
}

.input-row {
    width: 350px;
    margin-bottom: 20px;
}

.input-share {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    color: #333;
    font-size: 17px;
    line-height: 45px;
    border: 2px solid #ebebeb !important;
    border-radius: 0px;
    font-family: sans-serif;
    box-shadow: none !important;
    border-radius: 5px;
}

.forget-passwork {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

    .forget-passwork:hover {
        color: black;
        font-size: 14px;
    }

.custom-login {
    font-size: 18px;
    color: white;
    background-color: #9bd031;
    height: 45px;
    color: white !important;
}

    .custom-login:hover {
        color: #9bd031 !important;
        border: 1px solid #9bd031 !important;
        background-color: white;
    }

.custom-space {
    font-size: 15px;
}
.validation-summary-errors ul {
    list-style-type: none !important;
}
    .validation-summary-errors ul li {
        color: red !important;
    }

/*Đổi mật khẩu*/
#frame-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #3333332e;
}

.popup {
    position: absolute;
    width: 316px;
    height: 232px;
    background-color: white;
    top: 25%;
    left: 39%;
}

.show {
    display: block;
}

.close {
    position: absolute;
    right: -17px;
    top: -17px;
    background-color: red;
    text-align: center;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 80px;
    opacity: 1;
}

.hidden {
    display: none;
}

.title-popup {
    text-align: center;
    font-size: 18px;
    margin: 0px;
    font-family: sans-serif;
    color: black;
    padding: 5px;
}

.message-popup {
    padding: 5px 5px 5px 20px;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
}

.thanhngang {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom:20px;
}
.opentOverflower {
    overflow-y: hidden;
}
.input-row-email {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.input-email {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    color: #333;
    font-size: 14px;
    line-height: 45px;
    border: 2px solid #ebebeb !important;
    border-radius: 0px;
    font-family: sans-serif;
    box-shadow: none !important;
    border-radius: 5px;
}