.title-wrap {
    font-size: large !important;
    font-family: monospace !important;
    padding: 0px !important;
    margin: 0px !important;
}

    .title-wrap a {
        text-decoration: none;
        color: black;
    }

        .title-wrap a:hover {
            text-decoration: none;
            color: #9bd031;
        }

.news-frame {
    display: flex;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px solid #e2d5d5;
    padding: 15px;
}

.content-news {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
}

.custom-img-news {
    width: 400px !important;
    height: 200px !important;
    border-radius: 10px !important;
}

.title-news {
    text-decoration: none !important;
    color: black !important;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}

    .title-news:hover {
        color: #38E05D !important;
        text-decoration: none !important;
    }

.datetime-news {
    font-family: sans-serif;
    font-size: 15px;
}

.content-describe {
    font-family: sans-serif;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #9bd031 !important;
    border-color: #9bd031 !important;
}
