@using WebsiteThucPhamSach.Models
@model QUANGCAO


<div class="col-lg-8 add-color">
    @using (Html.BeginForm("SuaQuangCao", "QLQuangCao", FormMethod.Post))
    {
        <div class="frame-sp custom-col">
            <h2>Sửa quảng cáo</h2>
            <div class="col-lg-6">
                <div class="layout">
                    @Html.TextBoxFor(n => n.MAQC, new { @class = "textboxchung", @placeholder = "Mã quảng cáo", disabled = "disabled" })
                </div>
                <div class="layout">
                    @Html.TextBoxFor(n => n.TENQC, new { @class = "textboxchung", @placeholder = "Tên quảng cáo" })
                </div>
                <div class="layout">
                    <input name="file" type="file" placeholder="Ảnh" />
                </div>
                <div class="layout">
                    @Html.TextBoxFor(n => n.HREF, new { @class = "textboxchung", @placeholder = "Đường dẫn" })
                </div>
                <div class="layout">
                    @Html.TextBoxFor(n => n.THUTUQC, new { @class = "textboxchung", @placeholder = "Thứ tự" })
                </div>
                <div class="layout">
                    <input id="btnCapNhat" type="submit" class="btn btn-primary" value="Cập nhật" />
                </div>
            </div>
        </div>
    }
</div>


