
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<link href="~/Content/CssClient/CssGioiThieu.css" rel="stylesheet" />
<div class="container">
    <div class="container">
        <div class="col-lg-12 title">
            <p class="title-wrap"><a href="~/Trang-Chu">Trang chủ</a> > <span>@ViewBag.Title</span></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row custom-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title-gt">GIỚI THIỆU</div>
            <div class="phan-gt">SẢN PHẨM</div>
            <div class="noidung-gt">
                Trải qua hơn 8 năm hình thành và phát triển Công ty TNHH Thực Phẩm Sạch Thương Mại Fresh Foods đã có những bước phát triển không ngừng trong việc cung cấp các sản phẩm thực phẩm sạch nhập khẩu đến tận tay người tiêu dùng với các nhóm sản phẩm chính:
                <ul style="margin-left: 8%">
                    <li>Trái cây</li>
                    <li>Thực phẩm</li>
                    <li>Nấm</li>
                    <li>Rau xanh</li>
                    <li>Đồ uống</li>
                </ul>
                <p>Với đội ngũ nhân viên trẻ được đào tạo chuyên nghiệp, năng động dưới sự dẫn dắt của chủ đầu tư có hơn 20 năm kinh nghiệm nhập khẩu và kinh doanh trong lĩnh vực thực phẩm, chúng tôi luôn chủ động trong việc kiểm soát chất lượng đầu vào và đầu ra thực phẩm một cách toàn diện nhất nhằm đem đến tay người tiêu dùng sản phẩm chất lượng tốt nhất. </p>
                <p>
                    Chúng tôi rất tự hào là tất cả các sản phẩm của công ty nhập khẩu cũng như sản phẩm sơ chế đóng gói của chúng tôi đã được người tiêu dùng Việt Nam tin dùng và sử dụng thông qua các nhà hàng, khách sạn 5 sao (Sheraton, Fortuna, Nikko…) và các hệ thống siêu thị lớn (Metro, BigC, Lotte, Sapo, Aeon, Vinmart….)
                </p>
            </div>
            <div class="phan-gt">SỨ MỆNH</div>
            <div class="noidung-gt">
                Là website cung cấp thực phẩm sạch mong muốn của chúng tôi đem đến cho khách hàng những sản phẩm chất lượng và an toàn nhất.
                <ul style="margin-left: 8%; margin-top: 20px">
                    <li>Uy tín - Đúng giờ, đúng yêu cầu.</li>
                    <li>Khách hàng hài lòng - Phục vụ tận tình.</li>
                    <li>Sức khỏe khách hàng luôn được đặt lên hàng đầu.</li>
                    <li>Khách hàng là giá trị cơ bản nhất của công ty để tồn tại và phát triển bền vững.</li>
                    <li>Mang lại cho khách hàng những món ăn bỗ dưỡng nhất, đảm bảo vệ sinh an toàn thực phẩm cao nhất với giá thành tốt nhất và một dịch vụ chuyên nghiệp nhất.</li>
                </ul>

            </div>
            <div class="phan-gt">TẦM NHÌN</div>
            <div class="noidung-gt">
                <ul style="margin-left: 8%; margin-top: 20px;margin-bottom:20px">
                    <li>Giữ vững và ngày càng tăng tốc độ phát triển trên mọi chỉ tiêu: doanh số, thị phần, nhân lực, giá trị thương hiệu, chất lượng sản phẩm, số lượng sản phẩm.</li>
                    <li> Phát huy và nâng cao thế mạnh sẵn có của công ty về quản lý, sản xuất,…lên một tầm cao mới để đáp ứng với những nhu cầu ngày càng cao của khách hàng cũng như để sẵn sàng góp phần nâng cao đời sống của người dân.</li>
                    <li>Hoàn thiện quy trình kiểm tra đơn hàng (chất lượng sản phẩm và chính sách giao nhận)</li>
                </ul>
            </div>
            Với mong muốn được phục vụ các khách hàng ngày càng chu đáo hơn, chúng tôi luôn sẵn sàng tiếp nhận và biết ơn mọi sự góp ý của khách hàng.
        </div>
    </div>
</div>
